
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Бобро пожаловать!</title>
</head>
<body>
    <div> 
        <h1>Приветствую тебя, бадминтонист!</h1>

        давай, логинься:<br />
        <input id="Text1" type="text" /> <br />
        и паролься:<br />
        <input id="Password1" type="password" /><br />
        <input id="Enter" type="button" value="Вход" /><br />
        <input id="Register" type="button" value="Регистрация" />

    </div>
</body>
</html>
